POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin

SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G

GIT_SYNC_REPO_URL=https://github.com/olga-a-de/airflow-spark-s3_demo.git
GIT_SYNC_BRANCH_NAME=main